[submodule "contracts"]
	path = contracts
	url = https://github.com/wsutter/building-permit-monitor-contracts.git
	branch = develop

[submodule "enricher"]
	path = enricher
	url = https://github.com/wsutter/building-permit-monitor-enricher.git
	branch = develop

[submodule "ingestor"]
	path = ingestor
	url = https://github.com/wsutter/building-permit-monitor-ingestor.git
	branch = develop

[submodule "normalizer"]
	path = normalizer
	url = https://github.com/wsutter/building-permit-monitor-normalizer.git
	branch = develop

[submodule "persistence"]
	path = persistence
	url = https://github.com/wsutter/building-permit-monitor-persistence.git
	branch = develop

[submodule "platform"]
	path = platform
	url = https://github.com/wsutter/building-permit-monitor-platform.git
	branch = develop

[submodule "api"]
 	path = api
 	url = https://github.com/wsutter/building-permit-monitor-api.git
 	branch = develop
